

#InvoiceContent {
    background: #fff; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
}



 


@media screen and (max-width: 450px) {
    #InvoiceContent {
        width: 90%;
        height: 500px; /* Adjust height as needed */
        overflow-y: scroll;
        margin-top: 40px;
        margin-bottom: 80px;
        padding: 20px;
    }
}


@media screen and (min-width: 451px) {
    #InvoiceContent {
        width: 90%;
        
    }
}


@media screen and (min-width: 540px) {
    #InvoiceContent {
        width: 70%;
       
    }
}


@media screen and (min-width: 810px) {
    #InvoiceContent {
        width: 50%;
        
    }
}


@media screen and (min-width: 1100px) {
    #InvoiceContent {
        width: 25%;
       
    }
}
