.container {
    padding: 16px 16px 0 16px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #474e5d;
    opacity: 0.8;
    z-index: 101;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: none;
    width: 80%; /* Could be more or less, depending on screen size */
    opacity: 1;
    position: relative;
    z-index: 102;
}

@media screen and (max-width: 580px) {
    .modal-content {
        width: 95%;
    }
}

@media screen and (min-width: 800px) {
    .modal-content {
        width: 70%;
    }
}

@media screen and (min-width: 1000px) {
    .modal-content {
        width: 60%;
    }
}

@media screen and (min-width: 1100px) {
    .modal-content {
        width: 40%;
    }
}

.ModalButton {
    color: white;
    padding: 10px 13px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
}
